boto3==1.16.48
requests==2.25.1
numpy==1.19.5
dataclasses==0.6
tqdm==4.56.0
torchvision==0.8.2
foolbox==3.2.1
lightgbm==3.1.1
pandas==1.2.1
torch_mimicry==0.1.16
pytorch_lightning_bolts==0.2.5
pytorch_lightning==1.1.6
botocore==1.19.63
torch==1.7.1
Pillow==8.1.0
scikit_learn==0.24.1
