pytorch_lightning_bolts==0.2.5
lightgbm==3.1.1
dataclasses==0.6
advertorch==0.2.3
torchattacks==2.11.0
numpy==1.19.4
torchvision==0.8.2
tqdm==4.55.0
imgaug==0.4.0
torch==1.7.1
pytorch_lightning==1.1.2
scikit_learn==0.24.0